PORT=8087
API_KEY=your_api_key
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
DATABASE_URL="mysql://root:@127.0.0.1:3307/dms_db"
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=dms_db
DB_PORT=3307

# Email Service Action Links URL (Specifically used for links inside outgoing emails; change to server IP e.g. http://10.203.14.169:8046 when hosted)
EMAIL_SERVICE_BASE_URL=http://localhost:8046

# Frontend Application URL (General app base URL)
APP_BASE_URL=http://localhost:8046

# XAuth (Staff360) Integration Configuration
STAFF360_HOST=http://10.203.14.15:8080
XAUTH_APP_KEY=your_xauth_app_key
XAUTH_APP_SECRET=your_xauth_app_secret

# Core Banking Integration Configuration
CORE_BANKING_BASE_URL=http://10.203.14.33:8181
CORE_BANKING_API_KEY=your_core_banking_api_key
CORE_BANKING_API_SECRET=your_core_banking_api_secret
CORE_BANKING_FORWARDED_FOR=10.203.18.114

# CNS Email Notification Service Configuration
CNS_EMAIL_API_URL=http://10.203.14.33:8182/cns/api/v1/notification/send/email
CNS_APP_KEY=your_cns_app_key
EMAIL_ACTIVITY_CODE_RESET_PASSWORD=AC6m6Y3d7jx5Zm
EMAIL_ACTIVITY_CODE_AWAITING_APPROVAL=ACdt7W8_q6yt_y
EMAIL_ACTIVITY_CODE_ACCOUNT_CREATION=ACZpPFG2Mov9iH
EMAIL_LOGO_SRC=cid:usg-logo
